/* Estilo para toda la página */

:root {
  --bs-teal: #64a19d;
  --bs-black: black;
  --bs-white: white;
  --bs-gray: gray;
  --bs-gray-dark: black;
  --bs-gray-100: white;
  --bs-primary: #64a19d;
  --bs-light: white;
  --bs-dark: black;
  --bs-black: black;
  --bs-white: white;
  --bs-primary-rgb: 100, 161, 157;
  --bs-black-rgb: 0, 0, 0;
  --bs-gray-form: rgba(0, 0, 0, 0.3);
}

/******************/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background-image: linear-gradient(to bottom, #4c83a3, lightblue);
    color: var(--bs-white);
}

.container {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none; 
    color: inherit;
}

/* Sección del menú */
.menu {
    background: url("../assets/img/fondolateral2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    padding: 15px;
    box-sizing: border-box;
    border-right: 1px solid var(--bs-gray);
    display: block; 
    position: relative;
    top: auto;
    left: auto;
    z-index: 1;
    text-align: center;
    height: 100vh;
}

#imagenPerfil {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

#logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#header-menu {
    text-align: center;
    color: var(--bs-black);
    padding-bottom: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
}

.menu ul li:has(button) {
    border: none;
}

.menu ul li a {
    text-decoration: none;
    color: var(--bs-dark);
}

.floating-button {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
    padding: 10px;
    font-size: 18px;
    background-color: var(--bs-primary); 
    color: var(--bs-white); 
}

/* Sección de contenido */

.content {
    flex-grow: 1;
    padding: 15px;
    box-sizing: border-box;
    color: var(--bs-black);
    background: url("../assets/img/fondo.png");
}

.content h2 {
    margin-top: 0;
}

.video-detalles iframe {
    width: 600px;
    height: 400px;
}

/* Sección de noticias */
.news {
    color: var(--bs-dark);
    background: url("../assets/img/fondolateral2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid var(--bs-gray);
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    display: block;
    background-repeat: no-repeat;
    height: 100vh;
}

.news .colaboraciones {
    padding-bottom: 10px;
}

#botonNotificaciones {
    display: none;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .content h2 {
        margin-top: 50px;
    }
    
    .video-detalles iframe{
        width: 450px;
        height: 300px;
    }
    
    .menu {
        border: 1px solid var(--bs-gray);
        width: 80%;
        display: none; 
        position: absolute; 
        top: 50px;
        left: 0;
        z-index: 1000;
    }

    .menu.show-menu {
        display: block; 
    }

    .floating-button {
        display: block;
    }

    .news {
        display: none;
    }
    
    #botonNotificaciones {
        display: block;
    }

    .content {
        width: 100%;
    }
}

.article {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: start; 
    justify-content: space-between;
    gap: 20px;
}

.colaboracion {
    margin-top: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start; 
    justify-content: space-between;
    margin-bottom: 10px;
}

.colaboracion a {
    padding-top: 10px;
    text-decoration: none;
    display: flex;
    align-items: center; 
    color: #cbe2ef;
}

.colaboracion a:before {
    content: "\f0f3"; 
    font-family: "Font Awesome 5 Free"; 
    padding-right: 5px; 
}

.info-container {
    flex: 1;
    max-width: 50%;
}

.video-container {
    flex: 1;
    max-width: 50%;
    order: 2;
    text-align: right;
}

.video-container video {
    width: 100%;
    height: auto; 
}

@media (max-width: 768px) {
    .article {
        flex-direction: column; 
    }

    .info-container,
    .video-container {
        max-width: 100%; 
    }
}

.title {
    font-size: 1.5em;
    color: white;
    text-align: left;
    margin: 0 0 10px 0;
}

.description {
    margin: 0 0 10px 0;
}

.author {
    color: white;
    font-style: italic;
}

.navButton {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--bs-white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
}

.navButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.logout-button {
    background-color: #ff6347;
    color: var(--bs-white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
}

.logout-button:hover {
    background-color: #cc4125;
}

input[type="submit"].botonBorrar {
    background-color: #ff6347 !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;
}

input[type="submit"].botonBorrar:hover {
    background-color: #cc4125 !important;
}